<div class="d-flex justify-content-center">
  <div class="justify-content-center">
    <% if @solicitation.user == current_user %>
      <h1 class="mt-5 border-bottom text-center">Solicitation's Details</h1>
      <br>
      <div class="d-flex justify-content-around flex-column mt-3 pb-3">
        <h5><strong>Loan amount:</strong> R$ <%= @solicitation.loan_amount %>,00</h5>
        <h5><strong>Number of installments:</strong> <%= @solicitation.number_of_installments %></h5>
        <ol class="my-4">
          <% @dates.each do |date| %>
            <li class="border-bottom pt-1"><strong><%= date %></strong> R$ <%= @solicitation.installment_amount %>,00</li>
          <% end %>
        </ol>
        <br>
        <%= link_to "All Solicitations", solicitations_path, class: "btn btn-warning" %>
      </div>
    <% else %>
      <h1 class="mt-5 border-bottom text-center">You don't have authorization to be here.</h1>
    <% end %>
  </div>
</div>
